<h1>Welcome to the AES Application System</h1>

  <h2>Looking for a job?</h2>
    <h3><%= link_to "Begin Application Here", positions_search_index_path(), { :method => 'INDEX'}%></h3>
  
  <h2>System Managers</h2>
      <h3><%= link_to "Log In Here", login_start_path(), { :method => 'start'}%></h3>