<h1>You Answered:</h1>

<div id="results">
Name: <%= @answer.name %><br/>
Question:<%= @question.question %><br/>
Answer:<%= @answer.answer %>
</div>
<br/>
<%= link_to "Start Over", positions_search_path %>
