<%= render :partial => "search_form" %>
<% if @query %>
<div id="results">
  <% @results = results_for_query(@query) %>
  <% if @results.count > 0 %>
    found <%= pluralize(@results.count, "result") %>!<br/>
    <% @results.each do |result| %>
      <%= render :partial => 'result', :locals => { :position => result }%>
    <% end %>
  <% else %>
  no results for that search.
  <% end %>  
</div>
<% end %>
