<p id="notice"><%= notice %></p>

<p>
  <b> question:</b>
  <%= @general_question. question %>
</p>


<%= link_to 'Edit', edit_general_question_path(@general_question) %> |
<%= link_to 'Back', general_questions_path %>
